body {
  background-color: #00FBE4;
  width: 100%;
  margin: 0 auto;
  
}
header {
	background-color: #E8E600;
	width: 100%;
  padding: 5px;
  color: black;
}

.column-1 {
	background-color: #78000D;
	width: 40%;
	display: inline-block;
  	padding: 5px;
  	color: white;
    bottom: 0;

}
ul > li > a {
  color: red;
}
ul > li > a:visited {
  color: black;
}
ul > li > a:hover {
  color: blue;
}
.column-2 {
  width: 49%;
  vertical-align: top;
	display: inline-block;
	background-color: #00FBE4;
  padding: 10px;
  position: absolute;
}
footer {
	background-color: #C100AD;
	width: 100%;
	margin-top: 0;
	padding: 10px;
	position: relative;
}
footer > a {
  color: white;
}