<!DOCTYPE html>
<html>
<head>
  <title>Update Student Information</title>
</head>
<body>
  <form action="/gpa" method="POST">
    <input type="text" name="gpa" placeholder="GPA">
    <button type="submit">Save</button>
  </form>
</body>
</html>