<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the student management system.</p>
  <p>Click <a href="students/new">here</a> to create a new student.</p>
  <p>Click <a href="gpa/new">here</a> to update student gpa.</p>
  <table>
    <tr>
      <th>name</th>
      <th>campus</th>
      <th>age</th>
      <th>gpa</th>
    </tr>
      <% @students.each do |student| %>
    <tr>
      <td><%=student['name']%></td>
      <td><%=student['campus']%></td>
      <td><%=student['age']%></td> 
    <% end %> 
    </tr>
  </table> 
  <ul> <% @gpa.each do |gpa| %>
    <li><%=gpa['gpa']%></li>
    <% end %> 
  </ul>

</body>
</html>


